@import url('https://fonts.googleapis.com/css?family=Metal+Mania&subset=latin-ext');

:root {
  --size: 170px;
}

html {
  box-sizing: border-box;
  font-size: 12px;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* border: 1px solid green; */
}

body {
  height: 100vh;
  background: repeating-radial-gradient(circle, #ffffff -2px, #7f7f7f 4px, #000000 8px, #7f7f7f 12px, #ffffff 16px);
  font-family: 'Metal Mania', cursive;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 20px 30px rgba(0, 0, 0, 0.85);
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

#settings_box {
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
}

#settings_box > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.settings {
  background-color: #000000;
  transition: opacity 0.5s ease;
  display: flex;
}

header.off .settings {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.settings:hover {
  cursor: pointer;
}

header.off .settings:hover {
  cursor: default;
}

.settings img {
  height: 51px;
  margin: 0 1px;
  transition: opacity 0.5s ease;
}

header.off .settings img {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

header p {
  font-size: 2.0rem;
  color: #ff0000;
  padding-bottom: 0.5rem;
  transition: color 0.5s ease;
}

header.off p {
  color: rgba(255, 0, 0, 0.5);
  transition: color 0.5s ease;
}

main {
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#info {
  position: absolute;
  top: 2%;
  left: 20%;
  z-index: 1;
}

#info p:first-child {
  display: inline-block;
  font-size: 2.0rem;
  font-style: italic;
  color: #afaf1f;
  border: 3px solid #afaf1f;
  border-radius: 50%;background-color: #000000;
  padding: 0 1.2rem 0 1.0rem;
}

#info p:first-child:hover {
  cursor: pointer;
}

#info p:last-child {
  width: 0;
  height: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 0rem;
  text-align: center;
  padding: 0.5rem;
  overflow: hidden;
  opacity: 0;
  transition: all 500ms ease;
}

#info p:first-child:hover ~ p:last-child {
  width: 170px;
  height: 170px;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 1;
  border: 3px groove rgba(175,175,31, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 500ms ease;
}

#container {
  flex: 1;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  position: relative;
  perspective: 1200px;
  width: calc( var(--size) * 2 );
  height: calc( var(--size) * 2 );
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 0 0 85px #000000;
  margin-top: 75px;
}

#cube {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

#cube.animated {
  animation: wuerfel 20s linear infinite;
}

.sides {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  border: solid 2px rgba(0, 63, 0, 0.85);
  border-radius: 15px;
  background-color: rgba(159, 0, 0, 0.5);
}

.side1 {
  transform: translateZ(var(--size));
}

.side2 {
  transform: rotateY(90deg) translateZ(var(--size));
}

.side3 {
  transform: rotateX(90deg) translateZ(var(--size));
}

.side4 {
  transform: rotateX(-90deg) translateZ(var(--size));
}

.side5 {
  transform: rotateY(-90deg) translateZ(var(--size));
}

.side6 {
  transform: rotateY(180deg) translateZ(var(--size));
}

.sides p {
  font-size: 5.0rem;
  text-align: center;
  border: none;
  color: rgba(0, 71, 0, 1.0);
  background-color: transparent;
  text-shadow: -3px -3px 3px #000000,
  -3px 3px 3px #000000,
  3px -3px 3px #000000,
  3px 3px 3px #000000,
  -6px -6px 6px #003f00,
  -6px 6px 6px #003f00,
  6px -6px 6px #003f00,
  6px 6px 6px #003f00;
}

.side4 p {
  font-size: 4.0rem;
}

#clockDisplay {
  padding: 5px;
  background-color: #000000;
}

.clock {
  height: 31px;
}

#pkt_display {
  padding: 5px;
  background-color: #000000;
}

#controls {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.85);
  padding: 0.4rem 0;
  display: flex;
  justify-content: center;
}

#controls_box {
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
}

#controls_box div {
  align-items: center;
}

.control.active p:last-child {
  color: #3fff3f;
}

.control {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.5rem;
  color: #ffffff;
}

.control p:first-child {
  margin-bottom: 0.5rem;
  padding: 5px 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.control p:hover {
  cursor: default;
}

.control.active p:first-child:hover {
  cursor: pointer;
  color: #3fff3f;
  border-color: #3fff3f;
  box-shadow: 0 0 10px 0px #3fff3f;
}

#title {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  padding: 5px 0;
}

#title h1 {
  color: #9f0000;
  font-size: 5.0rem;
  font-weight: normal;
  text-shadow:  2px 2px 10px #003f00,
                -2px 2px 10px #003f00,
                -2px -2px 10px #003f00,
                2px -2px 10px #003f00;
}

#links {
  width: 100%;
  background-color: #000000;
  text-align: center;
  padding: 0.3rem 0;
}

#links a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#links a:hover {
  color: #3fff3f;
}

#links a:first-child {
  padding-right: 1.0rem;
}

@keyframes wuerfel {
  0% {
    transform: rotateX(-180deg) rotateY(180deg) rotateZ(-180deg);
  }
  50% {
    transform: rotateZ(180deg) rotateX(180deg) rotateY(-180deg);
  }
  100% {
    transform: rotateY(180deg) rotateZ(-180deg) rotateX(-180deg);
  }
}

@media all and (max-width: 800px) {

  :root {
    --size: 160px;
  }
  
  #wrapper {
    margin-top: 60px;
  }
  
  #pkt_display img {
    height: 101px;
  }
  
  #title h1 {
    font-size: 4.0rem;
  }

}

@media all and (max-width: 600px) {

  :root {
    --size: 145px;
  }
  
  .settings img {
    height: 41px;
  }
  
  header p {
    font-size: 1.7rem;
  }

  #wrapper {
    box-shadow: 0 0 0 65px #000000;
    margin-top: 60px;
  }
  
  .sides p {
    font-size: 4.5rem;
  }
  
  .side4 p {
    font-size: 3.5rem;
  }
  
  .clock {
    height: 31px;
  }

  #pkt_display img {
    height: 91px;
  }
  
  #title h1 {
    font-size: 2.8rem;
  }

}

@media all and (max-width: 400px) {

  :root {
    --size: 105px;
  }
  
  .settings img {
    height: 41px;
  }
  
  header p {
    font-size: 1.4rem;
  }

  #wrapper {
    box-shadow: 0 0 0 45px #000000;
    margin-top: 40px;
  }
  
  .sides p {
    font-size: 3.4rem;
  }
  
  .side4 p {
    font-size: 2.4rem;
  }
  
  .clock {
    height: 21px;
  }

  #pkt_display img {
    height: 71px;
  }

  .control p {
    font-size: 1.2rem;
  }
  
  #title h1 {
    font-size: 2.0rem;
  }

}

@media all and (max-width: 300px) {

  :root {
    --size: 80px;
  }
  
  .settings img {
    height: 31px;
  }
  
  header p {
    font-size: 1.0rem;
  }

  #wrapper {
    box-shadow: 0 0 0 30px #000000;
    margin-top: 48px;
  }
  
  .sides p {
    font-size: 2.4rem;
  }
  
  .side4 p {
    font-size: 1.4rem;
  }
  
  .clock {
    height: 16px;
  }

  #pkt_display img {
    height: 41px;
  }

  .control p {
    font-size: 1.2rem;
  }
  
  #title h1 {
    font-size: 1.5rem;
  }

}

